<!-- registrationList.ejs -->

<h1>Registrations</h1>
<ul>
  <% registrations.forEach(registration => { %>
    <li><a href="/view?registrationNumber=<%= registration.registrationNumber %>"><%= registration.registrationNumber %></a></li>
    <!-- Display other registration details as needed -->
  <% }); %>
</ul>
